button {
    all: unset;
    background-color: salmon;
    border-radius: 0.5em;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    font-family: 'Montserrat';
    font-size: 90%;
    font-weight: 500;
    transition: 0.3s;
  }
  
  button:hover {
    transform: scale(1.2);
  }

  .social-media {
    margin-left: 1em;
    margin-right: 1em;
  }