@import "./text.scss";
@import "./subtitle.scss";
@import "./mainImage.scss";
@import "./title.scss";
@import "./pageBody.scss";

.element-image {
    width: 100%;
    overflow: hidden;
}

.element-body {
    position: absolute;
    height: 100vh;
    top: 100vh;
    z-index: 100;
    background-color: lightyellow;
    width: 100%;
}