.image {
    height: 20em;
    border-radius: 0.5em;
}

.large-img {
    width: 100%;
    border-radius: 0.5em;
}

.img-container {
    border-radius: 5em;
}

.carousel-img {
    width: 80%;
    border-radius: 0.5em;
}

.cover-image {
    width: 100%;
}