.mainimage {
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: -2;
    position: relative;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }