.members-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.member-list {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-auto-rows: minmax(3em, auto);
    list-style: none;
    width: 100%;
}

.member {
    margin-bottom: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
}

.member-panel {
    background-color: rgb(243, 243, 211);
    padding: 1em;
    align-content: center;
    text-align: center;
    width: 20em;
    overflow-wrap:break-word;
}

.member-name {
    font-family: 'Montserrat';
}

.member-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s;
}

.member-blurb {
    position: absolute;
    color: white;
    transition: all 0.3s;
}

.member-email{
    
    color: darkgreen;
    font-weight: 400;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: all 0.3s;
}

.member-email:hover {
    background-color: rgb(205, 241, 188);
}

.image-description-flip-wrapper {
    position: relative;
    overflow: hidden;
    display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  transition: all 0.3s;
  margin-bottom: 1em;
}