.slideshow-display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.slideshow {
    all: unset;
    width: 33%;
    text-align: center;
    padding: 0;
    color: white;
    position: relative;
    
}

.slideshow-main-panel-wrapper:hover {
    transform: scale(1.1);
}

.panel-button {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
}

.panel-image {
    width: 80%;
    height: auto;
    background-size: cover;
    background: transparent no-repeat center;
    border-radius: 0.5em;
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
    z-index: 99;
}

.slideshow-main-panel-wrapper {
    display: flex; // make us of Flexbox
    align-items: center; // does vertically center the desired content
    justify-content: center; // horizontally centers single line items
    text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
    transition: all 0.3s;
    margin-bottom: 0.5em;
}

.slideshow-panel-subelements {
    display: none;
    height: 0em;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.subElement {
    all: unset;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    padding: 0;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.subpanel-button {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0.5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
}

.subElement:hover {
    transform: scale(1.1);
}

.subpanel-image {
    background-size: cover;
    //height: 36px;
    padding-bottom: 75%;
    width: 80%;
    background: transparent no-repeat center;
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
}

.subpanel-image-wrapper {
    overflow: hidden;  
    border-radius: 0.5em;
}