h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    font-weight: 400;
    color: darkgreen;
}

.subtitle {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(243, 243, 211)

}
