@import "./style-components/title.scss";
@import "./style-components/subtitle.scss";
@import "./style-components/text.scss";
@import "./style-components/pageBody.scss";
@import "./style-components/mainImage.scss";
@import "./style-components/member.scss";

.members {
    z-index: 0;
}

.public-documents-body {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.join-ecsess-body {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}