@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@theme {
    --color-ecsess-200: #A9B7A0;
    --color-ecsess-400: #5C8A5C;
    --color-ecsess-600: #3B6A3A;
    --color-ecsess-800: #0A3D2A;
    --color-ecsess-black: #1F1F1F;
    --color-ecsess-black-hover:#2c2c2c;
}

* {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

h1 {
    @apply text-3xl font-bold py-4;
}

.page-title {
    @apply text-4xl md:text-6xl font-bold py-4;
}
